body {
	background: #212121;
}

.padTop {
	padding-top: 15px;
}

#menu {
	float: left;
	width: 500px;
	padding-right: 40px;
	padding-left: 35px;
	padding-top: 43px;
	display: inline-block;
}


h1 {
	font-size: 24px;
	color: black;
	font-family: 'Caudex', 'Garamond', serif;
	padding: 55px 0px 0px 35px;
}

h2 {
	font-size: 17px;
	color: black;
	font-family: 'Caudex', 'Garamond', serif;
}


li {
	list-style-type: none;
	font-family: 'Caudex', 'Garamond', serif;
	font-size: 17px;
	color: black;
	line-height: 26px;
	padding: 0px 0px 12px 0px;
}

	li a {
		color: black;
		text-decoration: none;
		border-bottom: white 1px dotted;

		}

		li a:hover {
			color: white;
			text-decoration: none;
			border-bottom: black 1px dotted;
		}
