body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#note1 {
	display: inline-block;
	width: 110px;
	height: 110px;
}

#note2 {
	display: inline-block;
	width: 65px;
	height: 140px;
}

#note3 {
	display: inline-block;
	width: 60px;
	height: 80px;
}

#note4 {
	display: inline-block;
	width: 310px;
	height: 125px;
}
