	body {
		background-color: white;
		margin: 0px;
		padding: 0px;
		font-family: 'Cardo', Times, serif;
		font-weight: normal;
		text-align: left;
		text-rendering: optimizeLegibility;
		font-feature-settings: "kern";
		font-kerning: normal;
		-moz-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		-moz-font-feature-settings:"onum=1, tnum=1, frac=1, kern=1, liga=1"; 
		-ms-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		-o-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		-webkit-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1;
	}

	::-moz-selection { /* Code for Firefox */
	    color: #C8A3F8;
	    background: none;
	}

	::selection {
	    color: #C8A3F8; 
	    background: none;
	}

	#main {
		z-index: -5;
		float: left;
		margin: 0px;
		padding: 0px;
	}

	#main h1 {
		float: left;
		position: fixed;
		z-index: 10;
		width: 400px;
		margin: 15px;
		font-size: 50px;
		font-weight: normal;
		line-height: 55px;
		word-spacing: -4px;
		color: black;
	}

		#main h1 a {
			text-decoration: none;
			color: black;
			transition: color 0.2s ease-in-out;
		}

			#main h1 a:hover {
				text-decoration: none;
				color: #C8A3F8;
				transition: color 0.2s ease-in-out;
			}

	#specs {
		z-index: 5;
		float: left;
		clear: both;
		position: relative;
		width: 400px;
		margin-top: 53px;
		padding-right: 10px;
	}

		#specs h1 {
			margin: 20px;
			font-size: 50px;
			font-weight: normal;
			line-height: 55px;
			word-spacing: -4px;
		}

		#specs h3 {
			margin-top: 135px;
			margin-left: 18px;
			padding-right: 15px;
			font-size: 25px;
			line-height: 30px;
		}

		#specs h3 a {
					text-decoration: underline;
					color: black;
					transition: all 0.2s ease-in-out;
				}

					#specs h3 a:visited {
						color: inherit;
					}

					#specs h3 a:hover {
						font-weight: normal;
						color: black;
						background-color: #C8A3F8;
						transition: all 0.2s ease-in-out;
					}

	#description {
		z-index: 5;
		float: left;
		clear: both;
		position: relative;
		width: 400px;
		margin-bottom: 38px;
		margin-left: 20px;
	}

		#description p {
			margin: 0em;
			padding: 0px;
			text-indent: 65px;
		}

		#description h3 {
				font-size: 25px;
				line-height: 30px;
				color: black;
				padding-bottom: 25px;
			}

				#description h3 a {
					text-decoration: underline;
					color: black;
					transition: all 0.2s ease-in-out;
				}

					#description h3 a:visited {
						color: inherit;
					}

					#description h3 a:hover {
						font-weight: normal;
						color: black;
						background-color: #C8A3F8;
						transition: all 0.2s ease-in-out;
					}

	#content {
		float: left;
		clear: both;
		position: absolute;
		margin-top: -16px;
		margin-bottom: 176px;
		padding-top: 150px;
		width: 100%;
	}

		#content img {
			display: block;
			margin: 20px auto;
		}

	#nav {
		position: fixed;
		right: 0;
		bottom: 0;
		z-index: 15;
		margin-right: 20px;
		margin-bottom: 14px;
		/*margin-top: 161px;*/
	}

		#nav a {
			text-decoration: none;
			transition: all 0.2s ease-in-out;
		}

		#nav a:hover {
			text-decoration: none;
			background-color: #C8A3F8;
			transition: all 0.2s ease-in-out;
		}

	#footer {
		position: fixed;
		width: 400px;
		left: 0;
		bottom: 0;
		margin-left: 18px;
		margin-bottom: 10px;
		/*margin: 100px 0px 0px 0px;*/
	}

	span {
		font-family: Helvetica, sans-serif;
		font-size: 16px;
		font-weight: bold;
		line-height: 16px;
	}

	@media all and (max-width: 1100px) {

	    #content {
	    	margin-top: -16px;
	    }

		    #content img {
		    	width: 100%;
		    }

	}