	body {
		background-color: white;
		margin: 0px;
		padding: 0px;
		font-family: 'Cardo', Times, serif;
		font-weight: normal;
		text-align: left;
		text-rendering: optimizeLegibility;
		font-feature-settings: "kern";
		font-kerning: normal;
		-moz-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		-moz-font-feature-settings:"onum=1, tnum=1, frac=1, kern=1, liga=1"; 
		-ms-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		-o-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		-webkit-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1;
	}

	::-moz-selection { /* Code for Firefox */
	    color: #B3B3FF;
	    background: none;
	}

	::selection {
	    color: #B3B3FF; 
	    background: none;
	}

	#main {
		width: 100%;
		padding: 0px;
		
	}

		h1 {
			float: center;
			position: fixed;
			text-align: center;
			margin-top: -115px;
			width: 100%;
			z-index: 15;
			padding: 15px;
			font-family: 'Cardo', Times, serif;
			font-size: 19px;
			line-height: 23px;
			font-weight: normal;
			word-spacing: -1px;
			color: black;
		}

			h1 a {
				text-decoration: none;
				color: black;
				transition: all 0.2s ease-in-out;
				
			}

				h1 a:hover {
					text-decoration: none;
					color: white;  
	    			transition: all 0.2s ease-in-out;
				}

	#main h2 {
		width: 300px;
		font-family: 'Cardo', Times, serif;
		font-size: 19px;
		line-height: 22px;
		font-weight: normal;
		margin-left: 15px;
		margin-top: 115px;
		word-spacing: -2px;
		
	}

		#main h2 a {
			text-decoration: none;
			color: black;
			transition: color 0.2s ease-in-out;
		}

			#main h2 a:hover {
				text-decoration: none;
				color: #B3B3FF;
				transition: color 0.2s ease-in-out;
			}


	/*#main h1 {
		float: left;
		position: fixed;
		z-index: 10;
		width: 300px;
		margin: 15px;
		font-size: 50px;
		font-weight: normal;
		line-height: 55px;
		word-spacing: -4px;
		color: black;

	}

		#main h1 a {
			text-decoration: none;
			color: black;
			transition: color 0.2s ease-in-out;
		}

			#main h1 a:hover {
				text-decoration: none;
				color: #B3B3FF;
				transition: color 0.2s ease-in-out;
			}

	#specs {
		z-index: 5;
		float: left;
		clear: both;
		position: relative;
		width: 300px;
		margin-top: 325px;
		margin-left: 18px;
	}

		#specs h1 {
			margin: 20px;
			font-size: 50px;
			font-weight: normal;
			line-height: 55px;
			word-spacing: -4px;
		}

		#specs h3 {
			margin-top: 135px;
			margin-left: 18px;
			padding-right: 15px;
			font-size: 25px;
			line-height: 30px;
		}

		#specs h3 a {
					text-decoration: underline;
					color: black;
					transition: all 0.2s ease-in-out;
				}

					#specs h3 a:visited {
						color: inherit;
					}

					#specs h3 a:hover {
						font-weight: normal;
						color: black;
						background-color: #B3B3FF;
						transition: all 0.2s ease-in-out;
					}*/

	#description {	
		float: left;
		position: relative;
		width: 300px;
		margin-top: 25px;
		margin-left: 10px;
		padding: 5px;
	}

		#description p {
			margin: 0em;
			padding: 0px;
			text-indent: 65px;
			font-weight: normal;
		}

		#description h3 {
				font-family: 'Cardo', Times, serif;
				font-size: 19px;
				line-height: 22px;
				font-weight: normal;
				color: black;
				padding-bottom: 25px;
				font-weight: normal;
			}

				#description h3 a {
					text-decoration: underline;
					color: black;
					transition: all 0.2s ease-in-out;
					
				}

					#description h3 a:visited {
						color: inherit;
						
					}

					#description h3 a:hover {
						color: black;
						background-color: #B3B3FF;
						transition: all 0.2s ease-in-out;

					}

	#content {
		float: right;
		clear: both;
		position: absolute;
		top: 0;
		margin-bottom: 78px;
		margin-top: 78px;
		width: 100%;
		z-index: -50;
	}

		#content img {
			float: right;
			display: block;
			vertical-align: center;
		    width: auto;
		    height: auto;
		    max-width: 1100px;
		    padding: 18px;		
		}

		

	#nav {
		position: fixed;
		right: 0;
		bottom: 0;
		z-index: 15;
		margin-right: 20px;
		margin-bottom: 0px;
		font-family: 'Cardo';
		font-size: 25px;
		/*margin-top: 161px;*/
	}

		#nav a {
			/*margin-left: 238px;*/
			text-decoration: none;
			transition: all 0.2s ease-in-out;
		}

		#nav a:hover {
			text-decoration: none;
			background-color: #B3B3FF;
			transition: background-color 0.2s ease-in-out;
			padding-bottom: 5px;
		}

	#footer {
		position: fixed;
		width: 300px;
		left: 0;
		bottom: 0;
		margin-left: 18px;
		margin-bottom: 10px;
		/*filter: url(filters.svg#grayscale); 
		filter: gray; 
		-webkit-filter: grayscale(1);
		margin: 100px 0px 0px 0px;*/
	}

	span {
		font-family: Helvetica, sans-serif;
		font-size: 17.5px;
		line-height: 23px;
		font-weight: normal;
		
	}

	@media all and (min-width: 370px) and (max-width: 400px) {

	}
