	@font-face {
	  font-family: 'Times Dot';
	  src: url('fonts/timesdotrom-webfont.ttf'); /* IE9 Compat Modes */
	  src: url('fonts/timesdotrom-webfont.ttf?#iefix') format('truetype'), /* IE6-IE8 */
	       url('fonts/timesdotrom-webfont.ttf') format('truetype'), /* Super Modern Browsers */
	       url('fonts/timesdotrom-webfont.ttf') format('truetype'), /* Pretty Modern Browsers */
	       url('fonts/timesdotrom-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	}

	body {
		background-color: black;
		margin: 0px;
		padding: 0px;
		font-family: 'Times Dot', Times, serif;
		text-align: left;
		text-rendering: optimizeLegibility;
		font-feature-settings: "kern";
		font-kerning: normal;
		-moz-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		-moz-font-feature-settings:"onum=1, tnum=1, frac=1, kern=1, liga=1"; 
		-ms-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		-o-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		-webkit-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1;
	}

	::-moz-selection { /* Code for Firefox */
	    color: #B3B3FF;
	    background: none;
	}

	::selection {
	    color: #B3B3FF; 
	    background: none;
	}

#main {		
		margin: 0px;	
		padding: 0px;
	}

		h1 {
			font-family: Helvetica;
			vertical-align: center;
			text-align: left;
			position: fixed;
			z-index: 15;
			margin-top: -100px;
			margin-left: 15px;
			width: 100%;
			font-size: 23px;
			line-height: 29px;
			font-weight: normal;
			color: white;			
		}

			h1 a {
				text-decoration: none;
				color: white;
				transition: all 0.2s ease-in-out;
				font-weight: normal;

			}

				h1 a:hover {
					text-decoration: none;
					color: black;  
	    			transition: all 0.2s ease-in-out;
	    			font-weight: normal;
				}

	#main h2 {
		width: 500px;
		font-family: 'Times Dot', Times, serif;
		font-size: 25px;
		line-height: 30px;
		font-weight: normal;
		margin-left: 15px;
		margin-top: 115px;
		word-spacing: -2px;
		color: white;
	}

		#main h2 a {
			text-decoration: none;
			color: white;
			transition: color 0.2s ease-in-out;
			font-weight: normal;
		}

			#main h2 a:hover {
				text-decoration: none;
				color: #B3B3FF;
				transition: color 0.2s ease-in-out;
				font-weight: normal;
			}

	#description {	
		float: right;
		clear: both;
		position: absolute;
		font-weight: normal;
		right: 0;
		width: 500px;
		margin-right: 20px;
		margin-top: -172px;
		margin-left: 10px;
		padding: 5px;
		color: white;
	}

		#description p {
			margin: 0em;
			padding: 0px;
			text-indent: 65px;
			font-weight: normal;
		}

		#description h3 {
				font-family: 'Times Dot', Times, serif;
				font-size: 25px;
				line-height: 30px;
				font-weight: normal;
				color: white;
				font-weight: normal;
			}

				#description h3 a {
					text-decoration: underline;
					color: white;
					transition: all 0.3s ease-in-out;	
					font-weight: normal;
				}

					#description h3 a:visited {
						color: inherit;	
						font-weight: normal;
						
					}

					#description h3 a:hover {
						color: black;
						background-color: white;
						transition: all 0.3s ease-in-out;
						font-weight: normal;
					}

	#content {
		float: center;
		clear: both;
		position: absolute;
		font-weight: normal;
		margin: auto;
		margin-top: 175px;
		margin-bottom: 175px;
		width: 100%;
		z-index: -50;
	}

		#content img {
			float: center;
			display: block;
			vertical-align: center;
		    width: auto;
		    height: auto;
		    margin: auto;
		    max-width: 1100px;
		    padding: 18px;		
		}

	#nav {
		position: fixed;
		right: 0;
		bottom: 0;
		z-index: 15;
		margin-right: 20px;
		margin-bottom: -16px;
		font-family: 'Times Dot', Times, serif;
		font-weight: normal;
		font-size: 25px;
		color: white;
		/*margin-top: 161px;*/
	}

		#nav a {
			/*margin-left: 238px;*/
			text-decoration: none;
			color: white;
			transition: all 0.2s ease-in-out;
			font-weight: normal;
		}

		#nav a:hover {
			text-decoration: none;
			background-color: none;
			transition: background-color 0.2s ease-in-out;
			padding-bottom: 5px;
			font-weight: normal;
		}

		#nav img {
			padding-left: 338px;
		}

	#footer {
		position: fixed;
		width: 300px;
		left: 0;
		bottom: 0;
		margin-left: 12px;
		margin-bottom: -8px;
		color: white;
		/*filter: url(filters.svg#grayscale); 
		filter: gray; 
		-webkit-filter: grayscale(1);
		margin: 100px 0px 0px 0px;*/
	}

span {
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	line-height: 30px;
	font-weight: normal;	
}

@media all and (min-width: 800px) and (max-width: 1500px) {

		#content img {
			float: center;
			display: block;
			vertical-align: center;
		    width: auto;
		    height: auto;
		    margin: auto;
		    max-width: 1100px;
		    padding: 18px;		
		}
	}

@media all and (min-width: 0px) and (max-width: 800px) {

		#content img {
			float: center;
			display: block;
			vertical-align: center;
		    width: auto;
		    height: auto;
		    margin: auto;
		    width: 700px;
		    padding: 18px;		
		}
	}