html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	min-height: 500px;
}
body * {
	font-family: Arial, Geneva, SunSans-Regular, sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 22px;
}
#wrapper {
	background-color: #fff;
	width: 100%;
	height: 450px;
	margin-top: -225px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 0;
}
#carousel img {
	display: block;
	float: left;
}
#prev, #next {
	background-color: rgba(255, 255, 255, 0.7);
	display: block;
	height: 450px;
	width: 50%;
	top: 0;
	position: absolute;
}
#prev:hover, #next:hover {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.8);
}
#prev {
	left: -495px;
}
#next {
	right: -495px;
}
#pager {
	margin-left: -470px;
	position: absolute;
	left: 50%;
	bottom: 10px;
}
#pager a {
	border: 2px solid #fff;
	border-radius: 10px;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px 0 0;
}
#pager a:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
#pager a span {
	display: none;
}
#pager a.selected {
	background-color: #fff;
}

/*body {
	height: 1000px;
	padding: 0;
	margin: 0;
	background-color: #ffc2f2;
	-moz-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "calt" 1; 
	-moz-font-feature-settings:"onum=1, pnum=1, kern=1, liga=1, calt=1"; 
	-ms-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "calt" 1; 
	-o-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "calt" 1; 
	-webkit-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "calt" 1; 
	font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "calt" 1;
}

.selected {
	color: white;
}

#newYork {
	position: fixed;
	width: 75%;
	left: 50%;
	margin: 0 0 0 -25%;
	margin-top: -23px;
	font-family: 'Cardo', Garamond, serif;
	font-size: 135px;
	line-height: 145px;
	color: #66ffac;
}

#content {
	position: relative;
	width: 600px;
	margin: 0 auto;
	padding: 10px;
	color: #002a7f;
}

#nav {
	float: left;
	width: 75px;
	list-style: none;
	margin-top: 63px;
	font-family: Helvetica-bold, sans-serif;
	font-size: 12px;
	line-height: 30px;
}

	#nav a {
		text-decoration: none;
		color: #002a7f;
	}

	#nav a:hover {
		color: white;
	}

#about {
	float: left;
	width: 500px;
	margin: 61px 0 0 20px;
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	line-height: 30px;
}

	#about p {
		margin: 0;
		padding: 0;
	}*/