body {
	height: 1000px;
	margin: 0;
	-moz-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "calt" 1; 
	-moz-font-feature-settings:"onum=1, pnum=1, kern=1, liga=1, calt=1"; 
	-ms-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "calt" 1; 
	-o-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "calt" 1; 
	-webkit-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "calt" 1; 
	font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "calt" 1;
}

.selected {
	color: white;
}

.photos li {
	list-style: none;
}

.photos li p {
	font-family: 'Cardo', serif;
	font-size: 14px;
	line-height: 4px;
}

#image1, #image2, #image3, #image4, #image5, #image6, #image7, #image8, #image9 {
	position: absolute;
}

#image1 {
	margin-top: -46px;
}

#image2 {
	left: -355px;
	top: 64px;
}

#image3 {
	left: -279px;
	top: 50px;
}

#image4 {
	right: -250px;
	top: 400px;
}

#image5 {
	right: -450px;
	top: 320px;
}

#image6 {
	top: 600px;
}

#image7 {
	left: 200px;
	top: 600px;
}

#image8 {
	left: -450px;
	top: 401px;
}

#image9 {
	top: -10px;
	right: -220px;
}


#newYork {
	width: 100%;
	height: 932px;
	background-color: #ffc2f2;
}

	#newYorkbg {
		position: absolute;
		width: 75%;
		left: 50%;
		margin: 0 0 0 -25%;
		margin-top: -23px;
		font-family: 'Cardo', Garamond, serif;
		font-size: 135px;
		line-height: 145px;
		color: #66ffac;
	}

#london {
	width: 100%;
	height: 900px;
	background-color: #47ffff;
}

	#londonbg {
		position: absolute;
		width: 75%;
		left: 50%;
		margin: 0 0 0 -25%;
		margin-top: -23px;
		font-family: 'Cardo', Garamond, serif;
		font-size: 135px;
		line-height: 145px;
		color: #ffc2f2;
		z-index: 0;
	}

#beijing {
	width: 100%;
	height: 900px;
	background-color: #66ffac;
}

	#apply {
		position: absolute;
		width: 250px;
		left: 50%;
		margin: 0 0 0 -12%;
		margin-top: 350px;
		padding: 50px 0 50px 0;
		text-align: center;
		font-family: Helvetica-bold, sans-serif;
		font-size: 15px;
		line-height: 18px;
		color: #002a7f;
		z-index: 100;
	}

		#apply a {
			color: #002a7f;
			text-decoration: none;
		}

		#apply:hover {
			background-color: #66ffac;
		}

#content1 {
	position: relative;
	width: 600px;
	margin: 0 auto;
	padding: 10px;
	color: #002a7f;
}

#nav {
	position: fixed;
	float: left;
	width: 75px;
	list-style: none;
	margin-top: 63px;
	font-family: Helvetica-bold, sans-serif;
	font-size: 12px;
	line-height: 30px;
}

	#nav a {
		text-decoration: none;
		color: #002a7f;
	}

	#nav a:hover {
		color: white;
	}

#arrowRight {
	position: fixed;
	right: 0;
	margin-top: 58px;
	margin-right: 200px;
	width: 81px;
	height: 26px;
	background: url(images/nav/arrow_blue.png) 0 0;
}	
	
	#arrowRight:hover {
		background: url(images/nav/arrow_white.png) 0 0;
	}

#about {
	float: left;
	width: 500px;
	margin: 61px 0 0 80px;
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	line-height: 30px;
}

	#about p {
		margin: 0;
		padding: 0;
	}