h1 {
	font-size: 50px;
	color: red;
	font-family: 'Caudex', 'Garamond', serif;
}

p {
	font-size: 26px;
	color: red;
	font-family: 'Caudex', 'Garamond', serif;
}

	p a {
		color: red;

		}

		p a:hover {
			color: black;
		}

