body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    padding: 10px 10px; 
    height: 31px;         
    }

    a#button1, a#button2, a#button3, a#button4, a#button5, a#button6, a#button7, a#button8 {
        cursor: pointer;
        font-family: Helvetica, sans-serif;
        font-size: 18px;
        color: transparent;
        background-color: #303030;
        /*border: 1px solid black;*/
        padding-right: 100%;
    }

#one, #two, #three, #four, #five, #six, #seven, #eight {
    margin: 0;
    padding: 10px 0px 0px 0px;
    width: 100%;
    height: 31px;
    border: 0px solid #303030;
}

/*DISCARDS

a#button2 {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: transparent;
    background-color: #303030;
    border: 1px solid black;
    padding-right: 45%;
}*/

/*a.selected {
    background: transparent;
    }

#one p, #two p {
    display: inline-block;
    margin: 0;
    padding: 0px 10px 0px 10px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

.stop {
    color: red;
}

a.stopped {
    background-color: red;
}

a.restart {
    background-color: yellow;
}*/