body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: white;
}

.bar {
	float: left;
	width:150px;
	height:1000px;
	background-color: black;
}

.phrase1 {
	float: left;
	width:150px;
	height:1000px;
	background-color: black;
}

.hovered {
	background-color: #101010;
	cursor: pointer;
}