.body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 90%;
    /*padding: 0 20px 40px 20px;*/
    margin: 0 auto;
}

.jcarousel-wrapper {
    margin: 0 auto;
    position: relative;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 800px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 200px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    font: 24px/27px Arial, sans-serif;
}

.jcarousel-control-prev {
    left: 0px;
}

.jcarousel-control-next {
    right: 0px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

.selected {
    color: white;
}

#newYork {
    position: fixed;
    font-family: 'Cardo', Garamond, serif;
    font-size: 135px;
    line-height: 145px;
    left: 0;
    color: #66ffac;
}

/*#content {
    position: relative;
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    color: #002a7f;
}*/

#nav {
    float: left;
    width: 75px;
    list-style: none;
    margin-top: 63px;
    font-family: Helvetica-bold, sans-serif;
    font-size: 12px;
    line-height: 30px;
}

    #nav a {
        text-decoration: none;
        color: #002a7f;
    }

    #nav a:hover {
        color: white;
    }

#arrowRight {
    position: fixed;
    right: 0;
    margin-top: 58px;
    margin-right: 200px;
    width: 81px;
    height: 26px;
    background: url(images/nav/arrow_blue.png) 0 0;
}   
    
    #arrowRight:hover {
        background: url(images/nav/arrow_white.png) 0 0;
    }

#about {
    position: static;
    float: left;
    width: 500px;
    height: 600px;
    margin: 61px 0 0 20px;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: #002a7f;
    background-color: #ffc2f2;
    overflow: auto;
}

    #about p {
        margin: 0;
        padding: 0;
    }

/* 

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    
    background: red;
    color: #4E443C;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
}*/
